*.pdb
*.suo
*.cache
*manifest*
*vshost*
obj/*
hunger-games-simulator.suo
hunger-games-simulator/bin/Debug/ConsoleBufferApi.pdb
hunger-games-simulator/bin/Debug/hunger-games-simulator.pdb
hunger-games-simulator/obj/x86/Debug/hunger-games-simulator.pdb
hunger-games-simulator/obj/x86/Debug/hunger-games-simulator.csprojResolveAssemblyReference.cache
hunger-games-simulator/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.pdb
